/MainAnonymous$1.class
/MainAnonymous.class
/MainComparator.class
/MainLambda.class
/MainLambdaAnonymous.class
/NameComparator.class
/Person.class
/MainAnonymous$NameComparator.class
/Person1$NameComparator.class
/Person1.class
