/MyClass.class
/MyClass$MyInnerClass.class
/MySuperClass.class
/MyClass$MyNestedClass.class
/MySubClass$MyInnerClass.class
/MySubClass.class
/MyClass$TheInnerClass.class
/MySubClass$TheSubInner.class
/Main.class
/Employee.class
/Main$1.class
/MyOuterClass.class
/MyOuterClass$MyInnerClass.class
/MyClass1.class
/MyClass1$MyInnerClass.class
